body {
  background-color: black;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header-footer{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    color: #f0e68c;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

}
.card h3,
.card p{
  text-align: left;
}
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movies-container > * {
    flex: 1 1 40%; /* Esto har치 que los elementos ocupen aproximadamente el 40% del ancho del contenedor, pero se ajustar치n para evitar el desbordamiento */
    max-width: 40%; /* Esto limitar치 el ancho de los elementos al 40% del contenedor */
    margin: 10px; /* Esto agregar치 un poco de espacio alrededor de los elementos */
}

.imageMovie{
  width: auto;
  height: 250px;
}

.botonSillas{
  border: none;
  background-color: #ffe600;
  color: rgb(71, 71, 71);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}
