body{
    background-color: black;
}


.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.cinemaTitulo{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CinemaJuan{
    border: 2px yellow solid;

    border-radius: 5px;
    padding: 10px;
    width: 60%;
    margin: auto;
}

.pantalla{
    background-color: gray;
    width: 100%;
    height: 20vh;
    margin: 10px 0;
}
.sillasSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

tr{
    width: 100%;
}
th{ 
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.asiento{
    width: 25px;
    height: 25px;
    border: 1px yellow solid;
}

.reservation-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.reservation-form label{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif   ;
}
button{
    background-color: yellow;
    color: black;
    border: none;
    padding: 8px 20px ;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
form > label,
form > input,
form > button{
    margin: 10px 0;
}

.cinema-info{
    background-color: rgb(51, 51, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.cinema-info >h3,
.cinema-info >address,
.cinema-info >p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.asiento.sugerido {
    background-color: #fdae027c; /* Amarillo para sugerencia */
}

.asiento.ocupado {
    background-color: #fdad02; /* Amarillo para sugerencia */
}